.hello-world {
    top: 330px;
    left: 363px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0;
    color: #707070;
    position: absolute;
}

.good-morning {
    top: 330px;
    left: 669px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0;
    color: #707070;
    position: absolute;
}

.good-night {
    top: 528px;
    left: 975px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    position: absolute;
}

.hello-box {
    top: 728px;
    left: 516px;
    width: 112px;
    height: 28px;
    text-align: left;
    font: Medium 24px/29px Helvetica Neue;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    position: absolute;
}

.hello-strange {
    top: 510px;
    left: 516px;
    width: 116px;
    height: 57px;
    text-align: left;
    font: Medium 24px/29px Helvetica Neue;
    letter-spacing: 0;
    color: #1887DE;
    opacity: 1;
    position: absolute;
}

@media (max-width: 480px) {

    .hello-world {
        top: 0px;
        left: 0px;
        text-align: left;
        font-size: 24px;
        letter-spacing: 0;
        color: #707070;
        opacity: 1;
        position: absolute;
    }

    .good-morning {
        top: 0px;
        left: 209px;
        font-size: 24px;
        text-align: center;
        letter-spacing: 0;
        color: #707070;
        opacity: 1;
        position: absolute;
    }

    .good-night {
        top: 350px;
        left: 120px;
        font-size: 24px;
        text-align: center;
        letter-spacing: 0;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
    }

    .hello-box {
        display: none;
    }

    .hello-strange {
        top: 600px;
        left: 100px;
        width: 50%;
        font-size: 24px;
        text-align: center;
        letter-spacing: 0;
        color: #707070;
        opacity: 1;
        position: absolute;
    }
}